<div class="container">
	<h1>Employees</h1>
	<div class="text-left well">
		<ul>
			<li>Add new employees, and their wage. The employee will then be available in future timesheets.</li>			
		</ul>
	</div>
	</div>
	<div class="text-right">
		<button type="button" class="btn btn-primary btn-sm" ng-click="createEmployee()">
			Add employee
		</button>
	</div>

	<table class="table table-striped table-hover" id="employeeTable">
		<thead>
			<tr>
				<th width="5%">
					<div class="arrowSpace">
						<span ng-show="employees.length > 0">
							<span ng-show="sortField==='id' &&  sortReverse" class="caret"></span>
							<span ng-show="sortField==='id' && !sortReverse" class="caret caret-reversed"></span>
							<span class="noSort" ng-show="sortField!=='id'">
								<span class="caret caret-reversed"></span>
								<span class="caret"></span>
							</span>
						</span>
						<span ng-hide="employees.length > 0">&nbsp;</span>
					</div>
					<a ng-click="setSort('id')">#</a>
				</th>
				<th width="15%">
					<div class="arrowSpace">
						<span ng-show="employees.length > 0">
							<span ng-show="sortField==='firstname' && sortReverse" class="caret"></span>
							<span ng-show="sortField==='firstname' && !sortReverse" class="caret caret-reversed"></span>
							<span class="noSort" ng-show="sortField!=='firstname'">
								<span class="caret caret-reversed"></span>
								<span class="caret"></span>
							</span>
						</span>
						<span ng-hide="employees.length > 0">&nbsp;</span>
					</div>
					<a ng-click="setSort('firstname')">First name</a>
				</th>
				<th width="15%">
					<div class="arrowSpace">
						<span ng-show="employees.length > 0">
							<span ng-show="sortField==='lastname' && sortReverse" class="caret"></span>
							<span ng-show="sortField==='lastname' && !sortReverse" class="caret caret-reversed"></span>
							<span class="noSort" ng-show="sortField!=='lastname'">
								<span class="caret caret-reversed"></span>
								<span class="caret"></span>
							</span>
						</span>
						<span ng-hide="employees.length > 0">&nbsp;</span>
					</div>
					<a ng-click="setSort('lastname')">Last name</a>
				</th>
				<th width="10%" class="text-right">
					<div class="arrowSpaceRight">
						<span ng-show="employees.length > 0">
							<span ng-show="sortField==='hourlyWage' && sortReverse" class="caret"></span>
							<span ng-show="sortField==='hourlyWage' && !sortReverse" class="caret caret-reversed"></span>
							<span class="noSort" ng-show="sortField!=='hourlyWage'">
								<span class="caret caret-reversed"></span>
								<span class="caret"></span>
							</span>
						</span>
						<span ng-hide="employees.length > 0">&nbsp;</span>
					</div>
					<a ng-click="setSort('hourlyWage')">Wage</a>
				</th>
				<th width="12%" class="text-right">
					<div class="arrowSpaceRight">
						<span ng-show="employees.length > 0">
							<span ng-show="sortField==='externalId' && sortReverse" class="caret"></span>
							<span ng-show="sortField==='externalId' && !sortReverse" class="caret caret-reversed"></span>
							<span class="noSort" ng-show="sortField!=='externalId'">
								<span class="caret caret-reversed"></span>
								<span class="caret"></span>
							</span>
						</span>
						<span ng-hide="employees.length > 0">&nbsp;</span>
					</div>
					<a ng-click="setSort('externalId')">UniqueId</a>
				</th>
				<th width="25%">
					<div class="arrowSpace">
						<span ng-show="employees.length > 0">
							<span ng-show="sortField==='email' && sortReverse" class="caret"></span>
							<span ng-show="sortField==='email' && !sortReverse" class="caret caret-reversed"></span>
							<span class="noSort" ng-show="sortField!=='email'">
								<span class="caret caret-reversed"></span>
								<span class="caret"></span>
							</span>
						</span>
						<span ng-hide="employees.length > 0">&nbsp;</span>
					</div>
					<a ng-click="setSort('email')">Email</a>
				</th>
				<th width="11%">
					<div class="arrowSpace">
						<span ng-show="employees.length > 0">
							<span ng-show="sortField==='phone' && sortReverse" class="caret"></span>
							<span ng-show="sortField==='phone' && !sortReverse" class="caret caret-reversed"></span>
							<span class="noSort" ng-show="sortField!=='phone'">
								<span class="caret caret-reversed"></span>
								<span class="caret"></span>
							</span>
						</span>
						<span ng-hide="employees.length > 0">&nbsp;</span>
					</div>
					<a ng-click="setSort('phone')">Phone</a>
				</th>
				<th width="7%">&nbsp;</th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<td colspan="5">&nbsp;</td>
				<td colspan="3" align="right">Total {{employees.length}} employees</td>
			</tr>
		</tfoot>
		<tbody>
			<tr ng-controller="newForm" ng-show="newEmployee" ng-form="form" class="cureRow">
				<td>
					<div>&nbsp;</div>
				</td>
				<td>
					<div ng-class="{'has-success': form.firstname.$valid}">
						<input cure-capitalize type="text" name="firstname" class="form-control" ng-model="newEmployee.firstname" required>
					</div>
				</td>
				<td>
					<div ng-class="{'has-success': form.lastname.$valid}">
						<input cure-capitalize type="text" name="lastname" class="form-control" ng-model="newEmployee.lastname" required>
					</div>
				</td>
				<td>
					<div ng-class="{'has-success': form.hourlyWage.$valid}">
						<input cure-amount name="hourlyWage" class="form-control text-right" ng-model="newEmployee.hourlyWage" required>
					</div>
				</td>
				<td>
					<div ng-class="{'has-success': form.externalId.$valid}">
						<input cure-personnumber type="text" name="externalId" class="form-control text-right" ng-model="newEmployee.externalId" required>
					</div>
				</td>
				<td>
					<div ng-class="{'has-success': form.email.$valid}">
						<input cure-email type="email" name="email" class="form-control" ng-model="newEmployee.email" required>
					</div>
				</td>
				<td>
					<div ng-class="{'has-success': form.phone.$valid}">
						<input cure-phone type="tel" name="phone" class="form-control" ng-model="newEmployee.phone" required>
					</div>
				</td>
				<td>
					<div style="text-align: right;">
						<button class="cure-button" ng-disabled="form.$invalid || !form.$dirty" ng-click="persistNewEmployee()">
							<span class="glyphicon glyphicon-ok"></span>
						</button>
						<button class="cure-button" ng-disabled="employees.length === 0" ng-click="cancelNewEmployee()">
							<span class="glyphicon glyphicon-remove"></span>
						</button>
					</div>
				</td>
			</tr>

			<tr ng-controller="editForm" ng-repeat="employee in employees | orderBy:sortField:sortReverse" ng-form="form" class="cureRow">
				<td>
					<div>{{employee.id}}</div>
				</td>
				<td>
					<div ng-class="{'has-success': form.firstname.$valid}">
						<input ng-class="{cureInput: !employee.edit}" ng-disabled="!employee.edit" cure-capitalize type="text" name="firstname" class="form-control" ng-model="employee.firstname" required>
					</div>
				</td>
				<td>
					<div ng-class="{'has-success': form.lastname.$valid}">
						<input ng-class="{cureInput: !employee.edit}" ng-disabled="!employee.edit" cure-capitalize type="text" name="lastname" class="form-control" ng-model="employee.lastname" required>
					</div>
				</td>
				<td>
					<div ng-class="{'has-success': form.hourlyWage.$valid}">
						<input ng-class="{cureInput: !employee.edit}" ng-disabled="!employee.edit" cure-amount name="hourlyWage" class="form-control text-right" ng-model="employee.hourlyWage" required>
					</div>
				</td>
				<td>
					<div ng-class="{'has-success': form.externalId.$valid}">
						<input ng-class="{cureInput: !employee.edit}" ng-disabled="!employee.edit" cure-personnumber type="text" name="externalId" class="form-control text-right" ng-model="employee.externalId" required>
					</div>
				</td>
				<td>
					<div ng-class="{'has-success': form.email.$valid}">
						<input ng-class="{cureInput: !employee.edit}" ng-disabled="!employee.edit" cure-email type="email" name="email" class="form-control" ng-model="employee.email" required>
					</div>
				</td>
				<td>
					<div ng-class="{'has-success': form.phone.$valid}">
						<input ng-class="{cureInput: !employee.edit}" ng-disabled="!employee.edit" cure-phone type="text" name="phone" class="form-control" ng-model="employee.phone" required>
				</div>
				</td>
				<td style="text-align: right;">
					<div collapse="!employee.delete">
							<button class="cure-button" ng-click="deleteEmployee(employee)">
								<span class="glyphicon glyphicon-ok"></span>
							</button>
							<button class="cure-button" ng-click="employee.delete=false">
							<span class="glyphicon glyphicon-remove"></span>
						</button>
					</div>
					<div collapse="employee.delete">
						<button ng-hide="employee.edit" class="cure-button">
							<span class="glyphicon glyphicon-edit" ng-click="editEmployee(employee)"></span>
						</button>
						<button ng-hide="employee.edit" class="cure-button" ng-click="employee.delete=true">
							<span class="glyphicon glyphicon-trash"></span>
						</button>
						<button ng-show="employee.edit" class="cure-button" ng-disabled="form.$invalid || !form.$dirty" ng-click="saveEmployee(employee)">
							<span class="glyphicon glyphicon-ok"></span>
						</button>
						<button ng-show="employee.edit" class="cure-button" ng-click="cancelEditEmployee(employee)">
							<span class="glyphicon glyphicon-remove"></span>
						</button>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	</div>
	</div>
</div>
