<div class="container">
	<h1>Timesheet</h1>
	<div class="text-left well">
		<ul>
			<li>Modified fields get a different color.</li>
			<li>save button saves only the ones that changes.</li>
		</ul>
	</div>
	<div class="clearfix">
		<div class="col-sm-8">&nbsp;</div>
		<div class="col-sm-3">
			<div class="dropdown text-right">
				<div class="btn-group">
				    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
				     	Selected: {{selectedPeriod.month | monthNameFull}}<span class="caret"></span>
				    </button>
				    <ul class="dropdown-menu text-left">
			      		<li ng-repeat="period in periods" ng-class="{active: period===selectedPeriod}">
			      			<a ng-click="changePeriod(period)">{{period.month | monthNameFull}}</a>
			      		</li>
				    </ul>
				</div>
			</div>
		</div>
		<div class="col-sm-1 text-right">
			<button type="button" style="outline: none;" data-toggle="button" class="btn btn-info btn-sm">
				Locked <span class="glyphicon glyphicon-lock"></span>
			</button>
		</div>
	</div>

	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>Day</th>
				<th ng-repeat="employee in employees">{{employee.firstname}}</th>
				<th>Sum</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<td colspan="{{employees.length+3}}">
					<div>Sum wages: kr 46800,-</div>
					<div>Sum hours in this month: 8000</div>
				</td>
			</tr>
		</tfoot>

		<tbody>
			<tr ng-repeat="day in getDaysInMonth(selectedPeriod)">
				<td><div style="white-space: nowrap">{{day}} {{selectedPeriod.month | monthNameShort}}.</div></td>
				<td ng-repeat="employee in employees">
					<div class="row">
					    <div class="col-xs-6" style="padding-right: 0px;">
					    	<input type="text" class="timesheet-form-control first">
					    </div>
				     	<div class="col-xs-6" style="padding-left: 0px;">
				     		<input type="text" class="timesheet-form-control second">
				     	</div>
			     	</div>
				</td>
				<td><span>20</span></td>
				<td><span class="glyphicon glyphicon-lock"></span></td>
			</tr>
			<tr>
				<td><div class="nowrap">2. April</div></td>
				<td ng-repeat="employee in employees">
					<div class="nowrap">0800 - 1600</div></td>
				<td><span>15</span></td>
				<td><span class="glyphicon glyphicon-edit"></span></td>
			</tr>					
		</tbody>
	</table>
	</div>
	</div>
</div>
